@import url('https://fonts.googleapis.com/css?family=Squada+One');


$primary-color: #2f6f9c;
$secondary-color: #0b446b;
$dark-secondary-color: #083f49;

// section padding
$section-padding: 20px 0 40px 0;
// section title padding bottom
$section-title: 0 0 40px 0;



//FONT
$heading-font: 'Squada One', cursive;

//Mixins
$box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
