.modal{
	&-content{
		border-radius: 0px !important;
	}
	&-title{
		font-family: $heading-font;
		font-size: 24px;
	}
	p{
		font-size: 16px;
	}
}

@media screen and (max-width: 960px){
	.modal{
		img{
			margin: 10px 0px;
		}
	}
}

// .modal-open .container-fluid, .modal-open  .container {
//   -webkit-filter: blur(5px) grayscale(90%);
// }

.content-title{
	a{
		transition: 0.3s;
	}
	a:hover,a:focus,a:active{
		color: white;
	}
}